{block content}
{control filterForm}
<table class="table">
	<thead>
		<tr>
			<th>
				CNUM
			</th>
			<th>
				Name
			</th>
			<th>
				Country
			</th>
			<th>
				Department
			</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$employees as $employee">
			<th>
				{$employee->getCnum()}
			</th>
			<th>
				{$employee->getName()}
			</th>
			<th>
				{$employee->getCountry()}
			</th>
			<th>
				{$employee->getDepartment()->getCode()}
			</th>
		</tr>
	</tbody>
</table>
